/*
  For simplicity, all styles are added here.
*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

.navbar,
.charts-list,
.charts-form {
  display: flex;
  align-items: center;
}

.navbar {
  background-color: #567;
  border-bottom: 1px solid #345;
  margin-bottom: 50px;
  padding: 10px 20px;
}

.navbar .brand {
  color: #fc0;
  font-family: 'Playball', cursive;
  font-size: 2rem;
}

.charts-form {
  margin-bottom: 40px;
  justify-content: space-evenly;
}

.charts-form .form-select label {
  font-weight: 700;
  margin-right: 20px;
}

.charts-form .form-select select {
  width: 200px;
  padding: 2px 5px;
}

.charts-form .form-submit {
  background-color: transparent;
  border: 2px solid #567;
  border-radius: 4px;
  width: 150px;
  padding: 5px 0;
}

.charts-form .form-submit:hover {
  background-color: #567;
  color: #fff;
}

.charts-list {
  flex-wrap: wrap;
  gap: 50px 0;
  justify-content: space-evenly;
  padding-bottom: 50px;
}

.chart {
  border: 3px solid;
  border-radius: 10px;
  box-sizing: border-box;
  color: #fff;
  height: 200px;
  width: 40%;
  padding: 20px;
  text-align: center;
}

.table-chart {
  border-color: #555;
  background-color: #aaa;
}

.bar-chart {
  border-color: #500;
  background-color: #a00;
}

.line-chart {
  border-color: #050;
  background-color: #0a0;
}

.pie-chart {
  border-color: #005;
  background-color: #00a;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 500px;
}

.loading div {
  position: relative;
}

.loading div div {
  position: absolute;
  border: 4px solid #fa0;
  opacity: 1;
  border-radius: 50%;
  animation: loading 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.loading div div:nth-of-type(2) {
  animation-delay: -0.5s;
}

@keyframes loading {
  0% {
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: -100px;
    left: -100px;
    width: 200px;
    height: 200px;
    opacity: 0;
  }
}
