@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

.navbar,
.charts-list,
.charts-form {
  display: flex;
  align-items: center;
}

.navbar {
  background-color: #567;
  border-bottom: 1px solid #345;
  margin-bottom: 50px;
  padding: 10px 20px;
}

.navbar .brand {
  color: #fc0;
  font-family: 'Playball', cursive;
  font-size: 2rem;
}

.charts-form {
  margin-bottom: 40px;
  justify-content: space-evenly;
}

.charts-form .form-select label {
  font-weight: 700;
  margin-right: 20px;
}

.charts-form .form-select select {
  width: 200px;
  padding: 2px 5px;
}

.charts-form .form-submit {
  background-color: transparent;
  border: 2px solid #567;
  border-radius: 4px;
  width: 150px;
  padding: 5px 0;
}

.charts-form .form-submit:hover {
  background-color: #567;
  color: #fff;
}

.charts-list {
  justify-content: space-evenly;
}

.chart {
  border: 3px solid;
  border-radius: 10px;
  box-sizing: border-box;
  color: #fff;
  height: 200px;
  width: 200px;
  padding: 20px;
  text-align: center;
}

.bar-chart {
  border-color: #500;
  background-color: #a00;
}

.line-chart {
  border-color: #050;
  background-color: #0a0;
}

.pie-chart {
  border-color: #005;
  background-color: #00a;
}
